<!DOCTYPE html>
<html>
  <head>
    <title>View All Placements</title>
    {% include 'nav.html' %}
  </head>
  <body>
    <main>
      <div id="selector">
        <input
          type="text"
          class="form-control"
          id="input1"
          onkeyup="myFunction()"
          placeholder="Placement"
        />
      </div>
      <div id="table">
        <table class="table" id="tbl">
          <thead style="background-color: #070707; color: white">
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Description</th>
              <th scope="col">SKills</th>
              <th scope="col">Status</th>
              <th scope="col">Company</th>
            </tr>
          </thead>
          <tbody id="myTable" style="background-color: rgb(235, 240, 245)">
            <!-- first-row -->
            {% for row in data %}
            <tr>
              <td>{{ row["title"] }}</td>
              <td>{{ row["desc"] }}</td>
              <td>{{ row["skills"] }}</td>
              <td>{{ row["status"] }}</td>
              <td>{{ row["company"] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- Modal Insert -->
    </main>
    <script>
      function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("input1");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[0];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }

</script>

    </script>
  </body>
</html>
